html, body {
	margin: 0;
}
@font-face {
    font-family: 'arial-black';
    src: local('Arial Black');
}
wrap {
	margin: 0;
	height: 100%;
	width: 100%;
}
header {
	height: 100px;
	width: 100%;
	background-color: rgb(5, 0, 98);
	text-align: left;
	font-size: 66px;
	font-family: "Arial Black", arial-black, Arial;
	font-weight: 900;
	-webkit-box-shadow: 0px 6px 15px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 15px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 15px 3px rgba(0,0,0,0.75);
}
header Tcolor, .title2 Tcolor {
	color: lightgrey;
}
.hiddenmargin {
	height: 45px;
	width: 100%;
	display: none;
	visibility: hidden;
}
.background {
	position: absolute;
	min-height: 800px;
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	background-image: url("images/steinway2.png");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
#backg {
	background-image: url("images/steinway1.png") !important;
	display: block;
}
.title, .title2 {
	height: 100%;
	width: 620px;
	float: left;
	line-height: 1.4;
}
.title a {
	padding-left: 35px;
	padding-bottom: 8px;
	height: 80px;
	color: white !important;
	text-decoration: none;
}
menu {
	display: block;
	position: relative;
	height: 45px;
	width: 100%;
	padding-left: 0px;
	background-color: rgb(64, 64, 64);
	margin: 0;
	font-family: "Arial Black", arial-black, Arial;
	font-weight: 900;
	font-size: 32px;
	text-align: center;
	top: 0px;
}
menu a {
	padding-left: 12px;
	padding-right: 12px;
	float: left;
}
menu a:hover {
	background-color: black;
}
menu img {
	float: right;
	margin-right: 8px;
	display: none;
}
.buttonwrap {
	min-width: 100%;
	height: 100%;
	padding-left: 40px;
}
.buttonmobilewrap {
	display: none;
}
content {
	display: block;
	min-height: 800px;
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: rgb(227, 225, 225);*/
}
.down {
	margin-left: auto;
	margin-right: auto;
	z-index: 99999999999;
}
#content1 {
	background-image: url("images/steinway2.png");
}
#content2 {
	background-image: url("images/steinway1.png");	
}
table, th, td {
    	border: 1px solid dimgray;
  	border-collapse: collapse;
	background-color: rgb(50, 50, 50);
	color: white;
}
th, td {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
th {
	background-color: rgb(5, 0, 98);	
}
footer {
	display: table;
	border-top: 2px solid black;
	height: 50px;
	width: 100%;
	background-color: darkgrey;
	text-align: center;
	font-family: "Arial Black", arial-black, Arial;
	font-weight: 900;
	font-size: 30px;
}
button {
	float: left;
	height: 45px;
	border: none;
	font-family: "Arial Black", arial-black, Arial;
	font-weight: 900;
	font-size: 32px;
	background-color: transparent;
	color: white;
	cursor: pointer;
	outline: none;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
}
button:hover {
	background-color: black;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}
a:link {
	color: rgb(98, 114, 239);
}
a:visited {
	color: rgb(133, 142, 209);
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	header {
		display: none;
	}
	.hiddenmargin {
		display: block;	
	}
	.title2 {
		display: block !important;
		width: 300px !important;
	}
	menu {
		position: fixed !important;
		min-height: 45px;
	}
	menu img {
		display: inherit;
	}
	menu img:hover {
		cursor: pointer;
	}
	menu button {
		display: none;
	}
	.buttonmobilewrap {
		display: block;
		margin-top: 45px;
		height: 0px;
		width: 100%;
		background-color: rgb(5, 0, 98);
		transition: height 0.5s;
		overflow: hidden;
	}
	.buttonmobilewrap button {
		display: block;
		float: none;
		min-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		font-size: 68px;
	}
	.buttonmobilewrap button:hover {
		background-color: transparent;
	}
	
}
