html, body {
	margin: 0;
	background-color: rgb(0, 0, 0);
	color: ghostwhite;
}
@font-face {
    font-family: 'arial-black';
    src: local('Arial Black');
}
wrap {
	margin: 0;
	height: 100%;
	width: 100%;
}
.background {
	position: absolute;
	min-height: 800px;
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	background-image: url("images/steinway2.png");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
#background1 {
	padding-top: 1px;
	padding-left: 52px;
	background-image: url('images/steinway1.png');
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.music-wrapper {
	padding-left: 54px;
	padding-top: 80px;
	min-height: 100vh;
	background-image: url('images/steinway8.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -170px;
}
.lessons-wrapper {
	padding-left: 52px;
	padding-top: 80px;
	min-height: 100vh;
	background-image: url('images/steinway11.png'), url('images/steinway9.png'), url('images/steinway10.png');
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position-y: top, 960px, bottom;
}
.lesson-form-wrapper {
	padding-left: 52px;
	padding-top: 80px;
	min-height: 100vh;
	background-image: url('images/steinway12.png');
	background-repeat: no-repeat, no-repeat;
	background-position-y: top, center;
	background-size: cover;
}
.title, .title2 {
	height: 100%;
	width: 100%;
	float: left;
	line-height: 1.7;
	font-size: 2.5vw;
}
.title a {
	padding-left: 35px;
	padding-bottom: 8px;
	height: 80px;
	text-decoration: none;
}
#buttonmobile {
	display: none;
	float: right;
	width: 45px;
	height: 45px;
	margin-right: 5px;
	padding-right: 5px;
	background-image: url('images/menubutton.png');
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 22px;
	line-height: 2.1;
	user-select: none;
	cursor: pointer;
}
#buttonmobile:hover {
	background-color: black;
}
menu {
	display: block;
	position: fixed;
	z-index: 100;
	height: 45px;
	width: 100%;
	padding-left: 0px;
	background-color: rgba(36, 36, 36, 0.8);
	margin: 0;
	font-family: "Arial Black", arial-black, Arial;
	font-weight: 900;
	font-size: 32px;
	text-align: center;
	top: 0px;
}
menu a {
	padding-left: 12px;
	padding-right: 12px;
	float: left;
}
menu a:hover {
	background-color: black;
}
menu img {
	float: right;
	margin-right: 8px;
	display: none;
}
.buttonwrap {
	height: 100%;
	padding-left: 40px;
}
.buttonmobilewrap {
	display: none;
}
content {
	display: block;
	font-family: "Arial";
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: rgb(227, 225, 225);*/
}
.arrow {
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	text-align: center;
	cursor: pointer;
	font-size: 90px;
	width: 65px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	z-index: 99999999999;
	-webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
        transition: color 0.5s; /* For modern browsers */
	background-color: rgba(64, 64, 64, 1);
	border-radius: 7px;
	-webkit-box-shadow: 0px 10px 16px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 16px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 16px -7px rgba(0,0,0,0.75);
}
#arrow-image {
	padding-top: 12px;
	-webkit-transition: filter 0.5s; /* For Safari 3.0 to 6.0 */
        transition: filter 0.5s; /* For modern browsers */
	filter: invert(100%);
}
.arrow:hover > #arrow-image {
	filter: invert(0%);
}
.media-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.media-item {
	padding-bottom: 50px;
}
#background-wrap {
	background-color: black;
	background-image: url("images/steinway2_new.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 1250px;
	min-height: 89vh;
	padding-left: 52px;
}
#grad {
}
#content1 {
}
#content2 {
}
#highlighter {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
}
table, th, td {
    	border: 1px solid dimgray;
  	border-collapse: collapse;
	background-color: rgb(50, 50, 50);
	color: ghostwhite;
}
th, td {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
th {
	background-color: rgb(5, 0, 98);	
}
footer {
	display: table;
	border-top: 2px inset black;
	height: 60px;
	width: 100%;
	background-color: rgba(64, 64, 64, 1);
	text-align: center;
	font-family: "Arial";
	font-weight: 600;
	font-size: 20px;
}
button {
	float: left;
	height: 45px;
	border: none;
	font-family: "Arial Black", arial-black, Arial;
	color: ghostwhite;
	font-weight: 900;
	font-size: 32px;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
}
button:hover {
	background-color: black;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}
a {
	text-decoration: none;
	color: white;
}
a:link {
	color: ghostwhite;
}
a:visited {
	color: ghostwhite;
}
a:hover {
	color: lightgray;
}
input, textarea, select {
	border-radius: 6px;
	border: 1px white solid;
	margin-top: 2px;
	font-size: 17px;
	outline: none;
	background-color: rgb(245, 245, 245);
}
form, #inquiry-form-text, #inquiry-form-submit-text {
	transition: opacity 2s;
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 835px) {
	
	#background-wrap {
		background-size: contain !important;
		background-position-y: top;
		min-height: 57vh !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	#text-width {
		max-width: 100% !important;	
	}
	#about-header {
		text-align: center;
		padding-top: 38%;
	}
	#background1 {
		background-size: contain !important;
		min-height: 186px !important; /* 46vh old */
		padding-left: 0px;
	}
	.music-wrapper {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 1px !important;
		text-align: center;
		background-image: url('images/steinway8.png'), url('images/steinway10.png');
		background-size: contain, contain;
		background-position-y: top, bottom;
	}
	.lessons-wrapper {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 1px !important;
		text-align: center;
		background-size: contain, contain, contain;
		background-position-y: top, center, bottom;
	}
	.lesson-form-wrapper {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 50px !important;
		text-align: center;
	}
	textarea {
		width: 99%;
	}
	.media-item iframe {
		max-width: 100%;
	}
	#text {
		margin-top: 22vw !important;
		margin-left: 42% !important;
	}
	#arrow {
		width: 39px !important;
		height: 83px !important;
	}
	#arrow-image {
		width: 20px !important;
		margin-bottom: 22px !important;
		padding-top: 0px !important;
	}
	header {
		display: none;
	}
	.hiddenmargin {
		display: block;	
	}
	.title2 {
		display: block !important;
		width: 228px !important;
		font-size: 22px !important;
		line-height: 2.1;
	}
	#text2 {
		font-size: 2.8vw !important;
	}
	#philosophy-moto {
		display: block;
		padding-top: 2px;
	}
	menu {
		position: fixed !important;
		min-height: 45px;
	}
	menu img {
		display: inherit;
	}
	menu img:hover {
		cursor: pointer;
		background-color: black;
	}
	menu button {
		display: none;
	}
	.buttonwrap {
		display: none;	
	}
	#buttonmobile {
		display: block;
	}
	.buttonmobilewrap {
		display: block;
		margin-top: 45px;
		height: 0px;
		width: 100%;
		background-color: rgba(18, 18, 18, 0.8);
		transition: height 0.5s;
		overflow: hidden;
	}
	.buttonmobilewrap button {
		display: block;
		float: none;
		min-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		font-size: 50px;
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.buttonmobilewrap button:hover {
		background-color: transparent;
	}
	.content-padding {
		text-align: center !important;
		margin-top: 48vw !important;
	}
	
}
