body
{
    margin: 0;
    background-color: #f5c242;
    position: relative;
    min-height: 85vh;
    text-align: justify;
    //font-family: 'Source Sans Pro', sans-serif;
}
//@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    font-display: swap;
}
#selection
{
    display: inline-block;
    overflow: auto;
    height: 111px;
    vertical-align: bottom;
    width: 511px;
    border: 4px solid #e3e3e3;
    border-radius: 8px;
    border-left: none;
}
.elements {
    width: 164px;
    height: 55px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.craftingbar
{
    display: inline-block;
    height: 111px;
    width: 360px;

}
input
{
    height: 100px;
    width: 350px;
    font-size: 45px;
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    background-color: #f7f7f7;
}
.wrapper
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-height: 100px;
}
#output
{
    margin-top: 7px;
    display: inline-block;
    vertical-align: top;
    width: 355px;
    height: 307px;
    border: 4px solid #e3e3e3;
    font-size: 30px;
    overflow: auto;
    background-color: #d4a737;
}
#output2
{
    margin-top: 7px;
    display: inline-block;
    vertical-align: top;
    width: 504px;
    height: 307px;
    border: 4px solid #e3e3e3;
    font-size: 30px;
    overflow: auto;
    background-color: #d4a737;
    border-left: none;
}
.searchButtons
{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 30px;
    padding: 20px;
}
.searchButtons:active
{
    padding-left: 21px;
    padding-right: 19px;
}
